body{
    display: flex;
    background-color:  #f2e1f8;
    display: flex;
    min-height: 100vh;
    margin: 0;
}
.Sidebar{
    position: fixed;
    top: 0;
    width: 150px;
    height: 100vh;
    background-color: #d3c0da;
    padding: 1rem;
    box-shadow: 1px 1px 15px;
}
main{
    margin-left: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: 100vh;
}
.ChatDiv{
    flex:1;
}
.input-container {
    margin-top: auto; 
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
    padding-top: 1rem;
}
