*{  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2e1f8;
    min-height: 100vh;
    margin:0;
    overflow: hidden;
}
.Description{

}

.Sidebar{
    position: fixed;
    top:0;
    left:0;
    width:150px;
    background-color: #d3c0da;
    padding:1rem;
    box-shadow: 1px 1px 15px;
    height: 100%;
}
.ChatDiv{flex:1;}
.ChatMain{
    display: flex;
    height:100vh;
    width: 100vh;
}
.ChatMain{
    margin-left:150px;
    flex:1;
    display:flex;
    flex-direction: column;
    height:100vh;
    overflow: hidden;
    padding:1rem;
}
.input-container{
    display:flex;
    gap:10px;
}
.MessageDiv{
    flex:1;
    overflow-y: auto;
    padding:1rem;
}
.InputArea{
    display: flex;
    padding:1rem;
    border-top: 1px solid #ccc;
    background-color: white;
    gap:0.5rem;
    width:100%;
    border-radius: 5px;
}
.LoginInputArea, .RegisterInputArea, .Description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:1rem;

    background-color: #f2e1f8;
    gap:0.5rem;
    width:300px;
    margin: 0 auto;
    white-space: nowrap;
}
.TextInput{
    flex:1;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
}
.InputButton{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    width: 150px;
    background-color: #b1ffb1;
}
#RegisterPageRedirect, #LoginPageRedirect {
    background-color: #b1ffb1;
}
.InputButton:hover{
    background-color: #B1FFD8 !important;
}
a{
    color: black;
}
a:hover {
    color: red;
}